.card {
  display: inline-block;
  text-align: center;
  width: 5em;
  font-size: 3em;
  box-shadow: 0 4px 8px 0 rgba(78, 238, 46, 0.2);
  margin: 2em;
  user-select: none;
 }
 .activeCard {
  color: rgb(25, 0, 255);
  background: rgb(202, 67, 90);
 }